@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=JetBrains+Mono&display=swap');

.editorContainer {
  padding: 2rem;
  height: 90%;
  // font-family: 'JetBrains Mono', monospace;
  // font-family: 'Fira Code', monospace;
  & > * {
    border: 1px solid #5e5e5e;
  }
  .Line {
    display: table-row;
  }
  .LineNo {
    display: table-cell;
    text-align: right;
    padding-right: 1em;
    user-select: none;
    opacity: 0.5;
  }
  .LineContent {
    display: table-cell;
  }
}